// Height of the header on mobile and desktop
// (needed to adjust the content to take into account the fixed/floating header)
$header_desktop: 82px;
$header_tablet: 81px;
$header_mobile: 57px;

#content {
  // Content header (usually include the CTA)
  .header {
    @include breakpoint(mobile) {
      padding-top: $header_mobile;
    }
    @include breakpoint(tablet) {
      padding-top: $header_tablet;
    }
    @include breakpoint(desktop) {
      padding-top: $header_desktop;
    }
    text-align: center;
    h1 + p {
      color: $grey;
    }
    .button {
      @include font-size();
      padding: $space/3 $space;
      @include breakpoint(mobile) {
        box-sizing: border-box;
        width: 100%;
      }
    }
    .wrapper {
      padding: 4*$space 0;
      max-width: $content;
    }
  }

  // Most content sections
  .section {
    padding: 3*$space 0;
    @include breakpoint(mobile) {
      padding: 2*$space 0;
    }
  }

  // Cover pictures
  .cover {
    background: center center no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  // Juxtaposed buttons
  .alternatives {
    .or {
      margin: 0 $space/4;
    }
    @include breakpoint(mobile) {
      .button {
        box-sizing: border-box;
        margin-bottom: $space;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .or {
        display: none;
      }
    }
  }

  // Grids (lists of staff, posts)
  .grid {
    &.posts ul {
      margin: 0 (-$space/2) (-$space/2) 0;
      li {
        @include breakpoint(mobile) {
          padding-bottom: 50%;
          width: 100%;
        }
        @include breakpoint(tablet) {
          padding-bottom: 25%;
          width: 50%;
        }
        @include breakpoint(desktop) {
          padding-bottom: 16.66%;
          width: 33.33%;
        }
        &.featured {
          @include breakpoint(mobile) {
            padding: 0 $space/2 $space/2 0;
            position: relative;
            width: 100%;
            a {
              display: block;
              position: relative;
              .teaser {
                position: relative;
              }
            }
          }
          @include breakpoint(tablet) {
            padding-bottom: 50%;
            width: 100%;
          }
          @include breakpoint(desktop) {
            margin-bottom: -1px; /* HACK: seems to break otherwise */
            padding-bottom: 33.33%;
            width: 66.66%;
          }
          .teaser {
            bottom: auto;
            top: 0;
            h3 {
              @include font-size($gigantic);
            }
          }
        }
        a {
          background: $grey;
          border-radius: $radius;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: $space/2;
          bottom: $space/2;
          &:hover {
            text-decoration: none;
            .cover {
              opacity: 1;
              &:after {
                opacity : 1;
              }
            }
          }
        }
        .cover {
          background-color: $blue;
          @include filter(grayscale(20%));
          opacity: 0.8;
          @include transition-property(opacity);
          @include transition-duration($ease);
          &:after {
            @include background(radial-gradient(transparent, rgba(0, 0, 0, 0.6)) left repeat);
            bottom: 0;
            content: ' ';
            left: 0;
            opacity: 0.4;
            position: absolute;
            right: 0;
            top: 0;
            @include transition-property(opacity);
            @include transition-duration(0.2s);
            z-index: 999;
          }
        }
        .teaser {
          padding: $space;
          position: absolute;
          text-align: left;
          bottom: 0;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
          h3 {
            color: #FFF;
            margin: 0;
          }
          .meta {
            color: $silver;
            @include font-size($small);
            margin-bottom: $space/4;
          }
          p {
            color: $silver;
            margin: $space/2 0 0;
          }
        }
      }
    }
    .wrapper {
      max-width: $width;
    }
    ul {
      @include clearfix;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        $label: 3.5*$space;
        box-sizing: border-box;
        display: block;
        float: left;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: center;
        @include breakpoint(mobile) {
          width: 50%;
        }
        @include breakpoint(tablet) {
          width: 33.33%;
        }
        @include breakpoint(desktop) {
          width: 25%;
        }
      }
    }
  }

  // Navigation links
  .nav {
    background: transparent;
    border: 2px solid $light;
    border-radius: $space;
    color: $grey;
    display: inline-block;
    font-family: $headline;
    @include font-size($smaller);
    padding: $space/6 $space;
    @include transition-property(background, color);
    @include transition-duration($ease);
    &:hover {
      background: $light;
      color: shade($blue, 10%);
      text-decoration: none;
    }
  }
}
