/* Front page */
body.page-front {
  // #header {
  //   background: transparent;
  //   @include transition-property(background);
  //   @include transition-duration($ease);
  //   .toggle,
  //   .links a {
  //     &:hover {
  //       color: #FFF;
  //     }
  //   }
  //   &.scrolled {
  //     background: #FFF;
  //     .toggle,
  //     .links a {
  //       &:hover {
  //         color: $black;
  //       }
  //     }
  //   }
  // }
  #content {
    // .header {
    //   background: linear-gradient($black, mix($black, $blue, 80%));
    //   position: relative;
    //   .cover {
    //     background-image: url(http://wiredcraft.com/images/posts/product-design-photo.jpg);
    //     @include filter(grayscale(100%));
    //     opacity: 0.2;
    //     &:after {
    //       background: linear-gradient($black, transparent);
    //       bottom: 0;
    //       content: ' ';
    //       left: 0;
    //       position: absolute;
    //       right: 0;
    //       top: 0;
    //     }
    //   }
    //   h1 {
    //     color: #FFF;
    //     & + p {
    //       margin-bottom: 2*$space;
    //     }
    //   }
    //   .pitch {
    //     padding: 5*$space 0;
    //   }
    //   .clients {
    //     padding: 0;
    //     max-width: $width;
    //     opacity: 0.8;
    //   }
    //   .grid {
    //     li {
    //       padding: $space 0;
    //       @include breakpoint(mobile) {
    //         width: 25%;
    //         &:first-child { display: none; }
    //         &:last-child { display: none; }
    //       }
    //       @include breakpoint(tablet) {
    //         width: 16.66%;
    //         &:first-child { display: block; }
    //         &:last-child { display: none; }
    //       }
    //       @include breakpoint(desktop) {
    //         width: 12.25%;
    //         &:first-child { display: block; }
    //         &:last-child { display: block; }
    //       }
    //       img {
    //         height: 3*$space;
    //       }
    //     }
    //   }
    // }

    .testimonies {
      background: $light;
      @include clearfix;
      .testimony {
        margin-top: $space;
        text-align: left;
        @include breakpoint(tablet) {
          @include halves();
        }
        blockquote {
          background: #FFF;
          border: 0;
          border-radius: $radius;
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
          color: inherit;
          padding: $space;
          position: relative;
          &:after {
            border-color: #FFF transparent;
            border-style: solid;
            border-width: $space/2 $space/2 0 0;
            bottom: -$space/2;
            content: '';
            display: block;
            position: absolute;
            left: $space;
            width: 0;
          }
        }
        .meta {
          display: inline-block;
          @include font-size();
          line-height: 160%;
          white-space: nowrap;
          img {
            border-radius: 2*$space;
            float: left;
            margin-right: $space/3;
            width: 2*$space;
          }
          strong {
            display: block;
            @include font-size($larger);
          }
        }
      }
    }
  }
  #footer {
    background: $silver;
    border: 0;
  }
}
