#header {
  background: #FFF;
  @include font-size($smaller);
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 999;
  &.scrolled {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
  }
  .wrapper {
    @include clearfix;
    max-width: $width;
  }
  * {
    vertical-align: middle;
  }
  .logo {
    float: left;
    padding: $space/6 0;
    img {
      display: block;
      height: $space;
    }
  }
  .toggle,
  .links a {
    color: $grey;
    font-family: $headline;
    @include transition-property(color);
    @include transition-duration(0.2s);
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .button {
    font-size: inherit;
    padding: $space/6 $space/2;
  }
  @include breakpoint(mobile) {
    .wrapper {
      padding: $space/2 0;
    }
    .toggle {
      background: none;
      border: 0;
      color: $grey;
      float: right;
      @include font-size($large);
      outline: none;
      vertical-align: middle;
      span {
        display: none;
      }
      &:before {
        @include icon;
        content: '=';
        float: right;
      }
      &.active {
        &:before {
          content: 'x';
        }
        + .menu {
          opacity: 1;
          @include transform(translateY(0));
          visibility: visible;
        }
      }
    }
    .menu {
      background: #FFF;
      box-shadow: 0 2px  5px rgba(0, 0, 0, 0.1);
      clear: both;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 100%;
      visibility: hidden;
      z-index: 998;
      @include transform(translateY(-20%));
      @include transition-property(opacity, transform);
      @include transition-duration(0.2s);
      a {
        border: 0;
        border-top: 1px solid $light;
        display: block;
        @include font-size($larger);
        padding: 1.5*$space/2 0;
        &.active {
          color: inherit;
        }
      }
      .button {
        border-radius: 0;
      }
    }
  }
  @include breakpoint(tablet) {
    .wrapper {
      padding: $space 0;
    }
    .toggle {
      display: none;
    }
    .menu {
      line-height: 160%;
      a {
        margin-left: $space;
        &.active {
          color: inherit;
        }
      }
    }
  }
}
