<div class='wrapper'>
  <section class='company'>
    <img src='/assets/logo-grey.svg' class='logo'>

    <article class='vcard usa'>
      <strong>USA</strong>
      <div class='adr'>
        <div class='street-address'>641 S St NW</div>
        <span class='locality'>Washington</span>,
        <abbr class='region' title='District of Columbia'>DC</abbr>
        <span class='postal-code'>20001</span>
        <span class='country-name'>USA</span>
      </div>
      <div class='tel'>(+1) 415 341 6750</div>
    </article>

    <article class='vcard europe'>
      <strong>Europe</strong>
      <div class='adr'>
        <div class='street-address'>Axel-Springer-Str. 54b</div>
        <span class='locality'>Berlin</span>,
        <span class='postal-code'>10117</span>
        <span class='country-name'>Deutschland</span>
      </div>
      <div class='tel'>(+49 17) 53 74 06 31</div>
    </article>

    <article class='vcard asia'>
      <strong>Asia</strong>
      <div class='adr'>
        <div class='street-address'>1189 Wuiding West Road</div>
        <span class='locality'>Shanghai</span>,
        <span class='postal-code'>20001</span>
        <span class='country-name'>China</span>
      </div>
      <div class='tel'>(+86) 136 7194 3352</div>
    </article>
  </section>

  <footer class='footer'>
    <nav class='links'>
      <span class='social'>
        <a href='https://twitter.com/wiredcraft' class='facebook'>Facebook</a>
        <a href='https://twitter.com/wiredcraft' class='twitter'>Twitter</a>
        <a href='https://twitter.com/wiredcraft' class='weibo'>Weibo</a>
        <a href='https://twitter.com/wiredcraft' class='linkedin'>LinkedIn</a>
      </span>
      <a href='{{ site.url }}{{ site.baseurl }}/contact'>Portfolio</a>
      <a href='{{ site.url }}{{ site.baseurl }}/about'>Company</a>
      <a href='{{ site.url }}{{ site.baseurl }}/careers'>Careers</a>
      <a href='{{ site.url }}{{ site.baseurl }}/services'>Services</a>
      <a href='mailto:info@wiredcraft.com' class='email'>info@wiredcraft.com</a>
    </nav>

    Copyright © 2016 Wiredcraft Co. Ltd.
  </footer>
</div>
