<div class='wrapper'>
  <a href='{{ site.url }}{{ site.baseurl }}/' class='logo'><img src='/assets/logo.svg'></a>

  <button class='toggle'><span>Menu</span></button>
  <nav class='menu'>
    <span class='links'>
      <a href='{{ site.url }}{{ site.baseurl }}/'>What we do</a>
      <a href='{{ site.url }}{{ site.baseurl }}/about'>Who we are</a>
      <a href='{{ site.url }}{{ site.baseurl }}/blog'>Blog</a>
    </span>
    <a href='https://wiredcraft.typeform.com/to/GG4GQz' class='button secondary' target='_blank'>Get in touch →</a>
  </nav>
</div>
