/* Front page */
body.page-front {
  #content {
    .header {
      border-bottom: 1px solid $line;
      @include linear-gradient(#FFF, $light);
      .clients {
        padding: 0;
        max-width: $width;
        opacity: 0.8;
      }
      .grid {
        li {
          padding: $space 0;
          @include breakpoint(mobile) {
            width: 25%;
            &:first-child { display: none; }
            &:last-child { display: none; }
          }
          @include breakpoint(tablet) {
            width: 16.66%;
            &:first-child { display: block; }
            &:last-child { display: none; }
          }
          @include breakpoint(desktop) {
            width: 12.25%;
            &:first-child { display: block; }
            &:last-child { display: block; }
          }
          img {
            height: 3*$space;
          }
        }
      }
    }
  }
}
