/* Front page */
body.page-front {
  #header {
    background: $black;
    @include transition-property(background);
    @include transition-duration($ease);
  }
  &.scrolled {
    #header {
      background: #FFF;
    }
  }
  #content {
    .header {
      background: $black;
      position: relative;
      .background {
        background: url(http://wiredcraft.com/images/posts/product-design-photo.jpg);
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &:after {
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          background: linear-gradient($black, transparent);
        }
      }
      h1 {
        color: #FFF;
        & + p {
          margin-bottom: 2*$space;
        }
      }
      .clients {
        padding: 0;
        max-width: $width;
        opacity: 0.8;
      }
      .grid {
        li {
          // opacity: 0.6;
          padding: $space 0;
          @include breakpoint(mobile) {
            width: 25%;
            &:first-child { display: none; }
            &:last-child { display: none; }
          }
          @include breakpoint(tablet) {
            width: 16.66%;
            &:first-child { display: block; }
            &:last-child { display: none; }
          }
          @include breakpoint(desktop) {
            width: 12.25%;
            &:first-child { display: block; }
            &:last-child { display: block; }
          }
          img {
            height: 3*$space;
          }
        }
      }
    }
  }
  #footer {
    background: $silver;
    border: 0;
  }
}
