.project {
  border-bottom: 1px solid $line;
  .wrapper {
    @include clearfix;
    padding: 2*$space 0;
  }
  .summary {
    box-sizing: border-box;
    float: left;
    padding-right: $space;
    text-align: left;
    width: 50%;
  }
  .preview {
    box-sizing: border-box;
    float: right;
    padding-left: $space;
    width: 50%;
  }
  .testimony {
    @include clearfix;
    clear: both;
    margin: 2*$space auto 0;
    max-width: $content;
    text-align: left;
    blockquote {
      border: 1px solid $line;
      border-radius: $radius;
      padding: $space;
    }
    .meta {
      display: inline-block;
      @include font-size();
      line-height: 160%;
      white-space: nowrap;
      img {
        border-radius: 2*$space;
        float: left;
        margin-right: $space/3;
        width: 2*$space;
      }
      strong {
        display: block;
        @include font-size($larger);
      }
    }
  }

}
